<!DOCTYPE html>
<html>
<head>
    <title> 
        {% block title %}

        {% endblock %} | Flask app
    
    </title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/netbox/oz">Коммутаторы: в Орехово-Зуево <span class="sr-only">(current)</span></a>
                </li>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="/netbox/ld">в Ликино-Дулево <span class="sr-only">(current)</span></a>
              </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/netbox/dm">в Демихово <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/netbox/kb">в Кабаново <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="/netbox/ku">в Куровском <span class="sr-only">(current)</span></a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                           
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
    
        <h1> 
            {% block content_title %}

            {% endblock %}
        </h1>
        {% block content %}

        {% endblock %}

       
    


</body>

</html>